button {
  background-color: #2043b5;
  height: 42px;
  border-radius: 21px;
  font-size: 13px;
  text-transform: initial;
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px 15px;
  outline: 0;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  margin: 0;
  cursor: pointer;
  transition: ease background-color 250ms;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  display: inline-flex;
  font-weight: 500;
  letter-spacing: 0.02857em;
}

button:hover {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
button:disabled {
  cursor: default;
  opacity: 0.5;
}

.outlined {
  color: #0044ff;
  border: none;
  margin-bottom: 15px;
  text-transform: initial;
  background-color: #e8eaed;
}

.icon-button {
  flex: 0 0 auto;
  background-color: transparent;
  color: #0044ff;
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  height: auto;
  box-shadow: none;
}

.icon-button:hover {
  box-shadow: none;
}

.icon-button-small-size {
  padding: 3px;
}

.icon-button-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.link-button {
  color: #0044ff;
  font-size: 11px;
  text-decoration-line: none;
}

.link-button-text {
  margin: 4px 5px 0 0;
}

.send-button {
  width: 100%;
  text-transform: initial;
  transition: all 0.5s;
}
.send-button:hover > span > span {
  opacity: 1;
  left: 20px;
}

.send-button-icon {
  opacity: 0;
  left: 5px;
  bottom: 5px;
  transition: 0.5s;
  position: absolute;
  color: white;
}

.button-start-icon {
  padding: 2px 5px 0 5px;
}

.button-connected {
  text-transform: uppercase;
  background-color: #cdd4e9;
}

.button-connected:hover {
  background-color: #2043b5;
  color: white;
  box-shadow: none;
}
.button-connected-active {
  text-transform: uppercase;
  background-color: #2043b5;
  color: white;
  min-width: 195px;
}
.button-connected-active:hover {
  background-color: #2043b5;
  color: white;
}

.button-disconnect {
  border: none;
  width: 100%;
  height: 36px;
  border-radius: 0px 0px 21px 21px;
  text-transform: initial;
  color: #2043b5;
  background-color: #b6bac5;
  margin-bottom: 0;
}

input {
  font: inherit;
  color: #0044ff;
  width: 100%;
  border: 3px solid #2043b5;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 8px 0 8px 8px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  letter-spacing: inherit;
  background-color: #ffffff;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

label {
  color: #0044ff;
  padding-bottom: 5px;
  font-size: 1rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
}

@media screen and (min-width: 640px) {
  .wallet-content {
    position: absolute;
    display: block;
    top: 5px;
    right: 10px;
    border-radius: 20px;
    border: 3px solid #2043b5;
    background-color: #eaedf3;
    color: #2043b5;
  }
}
.wallet-connect-button {
  position: absolute !important;
  top: 5px;
  right: 10px;
  z-index: 100;
  font-weight: bold;
}
.wallet-connect-address {
  font-weight: 500;
}
.wallet-balance-button {
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
}
@media screen and (min-width: 640px) {
  .wallet-balance-button::before {
    content: '|';
    position: absolute;
    left: 0;
  }
}

.wallet-section {
  margin-top: 30px;
  padding: 5px 15px;
}
.wallet-section-close {
  float: right;
}
.wallet-disconnect:hover {
  border: none;
}
.wallet-header {
  margin: 30px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 10px;
}
@media screen and (min-width: 640px) {
  .wallet-header {
    margin: 10px 0px;
    font-size: 11px;
  }
}
.wallet-balance-section {
  padding: 0 0 15px 0;
  border-top: 1px solid #40444a;
}
.wallet-balance-item {
  border-bottom: 1px solid #40444a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  font-size: 14px;
}

.wallet-contect-options-button-icon {
  color: #2043b5;
  margin-right: 20px;
  display: inherit;
}
.wallet-contect-options-button-label {
  justify-content: left;
  margin-left: 15px;
  font-weight: 600;
  font-size: 14px;
  display: inherit;
}

.wallet-contect-options-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.wallet-contect-options-title-second {
  color: #2043b5;
}

.wallet-contect-options-title-close {
  position: absolute !important;
  top: 5px;
  right: 15px;
}
.wallet-contect-options-content {
  display: flex;
  flex-direction: column-reverse;
  margin: 20px;
}

.wallet-content-animated {
  position: absolute;
  display: block;
  opacity: 0;
  top: 5px;
  right: -200px;
}

.wallet-content-animated-move {
  transition: all 0.5s;
  opacity: 1;
  position: absolute;
  display: block;
  top: 5px;
  right: 10px;
  border-radius: 15px;
}

.wallet-empty {
  max-width: 150px;
}

.wallet-modal-actions {
  flex: 0 0 auto;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: flex-end;
}
.wallet-modal-actions button {
  min-width: 160px;
}
.wallet-modal-actions > :not(:first-child) {
  margin-left: 8px;
}
